.App {
  text-align: center;
  background-image: url("bgAnim.svg");
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
  background-attachment: fixed;
}

.rowHome{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 50px;
  width: 100%
}

.imagesHome{
  object-fit: contain;
  max-width: 200px;
  max-height: 200px;
}

.imagesHome2{
  object-fit: contain;
  max-width: 220px;
  max-height: 220px;
}

.blobberTitle{
  clear: both;
  padding-top: 15px;
}

.glassCard {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  background: #212121;
  border-radius: 4px;

  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  
}

.glassBox {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  background: #212121;
  border-radius: 40px 0 0 40px;

  background-color: rgba(21, 20, 83, 0.6);
  backdrop-filter: blur(10px);
}

.glassBox2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  background: #212121;
  border-radius: 0 40px 40px 0;

  background-color: rgba(21, 20, 83, 0.6);
  backdrop-filter: blur(10px);
}
